@using RentSiteSolution.DATA.Entity.Apartment;
@model IEnumerable<Apartment>

@{
    ViewData["Title"] = "All Apartments";
}

<h1>@ViewData["Title"]</h1>

<div id="filterSection">
    <form method="get" action="@Url.Action("AllApartmentsList")">
        <div class="form-group">
            <label for="title">Search by Title:</label>
            <input type="text" id="title" name="title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="minRooms">Min Rooms:</label>
            <input type="number" id="minRooms" name="minRooms" class="form-control" />
        </div>
        <div class="form-group">
            <label for="maxRooms">Max Rooms:</label>
            <input type="number" id="maxRooms" name="maxRooms" class="form-control" />
        </div>
        <div class="form-group">
            <label for="minPrice">Min Price:</label>
            <input type="number" id="minPrice" name="minPrice" class="form-control" />
        </div>
        <div class="form-group">
            <label for="maxPrice">Max Price:</label>
            <input type="number" id="maxPrice" name="maxPrice" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
<button id="toggleFilterBtn" class="btn btn-secondary">Toggle Filter</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var apartment in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => apartment.Title)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => apartment.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => apartment.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => apartment.Rooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => apartment.Description)
                </td>
                <td>
                    <img src="@apartment.MainPhoto" alt="Main Photo" width="100" height="100" />
                </td>
                <td>
                    <a asp-controller="ApartmentsShow" asp-action="ApartmentDetails" asp-route-id="@apartment.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>*@
    <script>
        $(document).ready(function () {
            // Скрываем раздел фильтрации при загрузке страницы
            $("#filterSection").hide();

            // Обработчик события нажатия на кнопку
            $("#toggleFilterBtn").click(function () {
                // Изменяем видимость раздела фильтрации
                $("#filterSection").toggle();
            });
        });
    </script>
}
